.about-company {
  position: relative;
  margin-bottom: 90px;

  &::before {
    position: absolute;
    z-index: -1;
    top: -400px;
    left: -120px;
    content: url("../img/svg/polygon-big.svg");
  }

  &::after {
    position: absolute;
    z-index: -1;
    top: -380px;
    right: -90px;
    content: url("../img/svg/polygon-small.svg");
    transform: rotate(60deg);
  }
}

.about-company__wrapper {
  position: relative;
  padding: 0 10px 20px 182px;
  background: url("../img/year@1x.png") no-repeat;
  background-size: contain;
  background-position: -30px 5px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/year@2x.png") no-repeat;
    background-size: 220px 317px;
    background-position: -30px 5px;
  }
}

.about-company h2 {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
  color: $black-text;
}

.about-company__desc p {
  margin: 0;
  line-height: 1.4;
  color: $black-text;
}

.about-company__desc p:first-child {
  padding-bottom: 20px;
}

.about-company a {
  width: 180px;
  margin-top: 35px;
  padding: 13px;
  display: block;
  font-size: 14px;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $white;
    background-color: $blue;
    border: 1px solid $white;
  }
}

@media (max-width: 1023px) {
  .about-company {
    margin-bottom: 33px;

    &::before,
    &::after {
      display: none;
    }
  }

  .about-company__wrapper {
    padding: 0 10px 50px 197px;
    background-size: 260px 360px;
    background-position: -30px 0;
  }

  .about-company h2 {
    font-size: 32px;
  }

  .about-company__desc p:first-child {
    padding-bottom: 20px;
  }

  .about-company a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .about-company {
    margin-bottom: 67px;
  }

  .about-company__wrapper {
    padding: 0;
    background-image: none;
  }

  .about-company h2 {
    margin-bottom: 18px;
    font-size: 28px;
  }

  .about-company__desc p:first-child {
    padding-bottom: 40px;
  }

  .about-company a {
    margin-top: 25px;
  }
}
