.accordion__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion__item ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.accordion__nav {
  display: flex;
  justify-content: space-between;
}

.accordion__nav li {
  margin-right: 75px;
}

.accordion__item input {
  display: none;
}

.accordion__item label {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: block;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black;
}

.accordion__item a,
.accordion__item span {
  font-size: 15px;
  line-height: 1.6;
  color: $black;
  opacity: 0.5;
}

.accordion__item a {
  display: block;

  &:hover,
  &:focus {
    color: $blue;
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  .accordion {
    border-top: 1px solid $grey-footer;
  }

  .accordion__nav {
    flex-direction: column;
  }

  .accordion__wrapper {
    padding: 40px 35px 40px 25px;
  }

  .accordion__item h3 {
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .accordion__wrapper {
    padding: 0;
  }

  .accordion__item {
    min-width: 100%;
  }

  .accordion__item ul {
    padding: 0 20px 0 15px;
  }

  .accordion__item:last-child {
    border-top: 1px solid $grey-footer;
    border-bottom: 1px solid $grey-footer;
  }

  .accordion__item input {
    display: block;
  }

  .accordion__item label {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding: 30px 35px 30px 15px;
    display: flex;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      background: #1b2b37;
      opacity: 0.5;
      right: 17px;
      top: 36px;
      display: block;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  .accordion__item input:checked ~ .accordion__label::after {
    display: none;
  }

  .accordion__body {
    padding-bottom: 30px;
    display: none;
  }

  .accordion__item input[id="navigation"]:checked ~ .accordion__nav,
  .accordion__item input[id="contacts"]:checked ~ .accordion__contacts {
    display: block;
  }
}
