.copyright {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 1px;
    background-color: $grey-footer;
    transform: translateX(-50%);
    content: "";
  }
}

.copyright__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright__wrap {
  width: 815px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright__wrap a {
  margin-left: 65px;
}

.copyright p,
.copyright a {
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $black;
  opacity: 0.5;
}

.copyright a {
  display: block;

  &:hover,
  &:focus {
    color: $blue;
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  .copyright__wrapper {
    padding: 25px 25px 0;
  }

  .copyright__wrap {
    width: 300px;
  }

  .copyright__wrap a {
    margin-left: 0;
  }

  .copyright__wrap p {
    display: none;
  }
}

@media (max-width: 767px) {
  .copyright {
    &::before {
      display: none;
    }
  }

  .copyright__wrapper {
    padding: 25px 0;
  }

  .copyright__wrap {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .copyright__wrapper,
  .copyright__wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
