.info {
  position: relative;
  max-width: 900px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info a {
  position: relative;

  margin: 0;
  margin-right: 90px;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;

  line-height: 1.1;
  color: $white;

  &:hover,
  &:focus {
    color: $blue;
  }

  &:active {
    opacity: 0.7;
  }
}

.info a:last-child {
  margin-right: 0;
}

.info span {
  margin-left: 17px;
}

@media (max-width: 1090px) {
  .info a {
    margin-right: 25px;
  }
}

@media (max-width: 1023px) {
  .info {
    padding-top: 10px;
    padding-left: 75px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 0;
      width: 37px;
      height: 1px;
      background-color: $white;
    }

    &::after {
      top: 26px;
    }
  }

  .info a {
    padding: 0;
  }

  .info span {
    display: none;
  }

  .info__mail img {
    width: 25px;
    height: 19px;
    margin-right: 10px;
  }

  .info__phone img {
    width: 24px;
    height: 24px;
  }

  .info img {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

@media (max-width: 767px) {
  .info {
    padding-top: 0;
    padding-left: 67px;

    &::before,
    &::after {
      top: 3px;
      left: 0;
    }

    &::after {
      top: 15px;
    }
  }

  .info a {
    margin-right: 10px;
  }
}
