
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$black: #1b2d37;
$black-logo: #203c42;
$black-text: #666666;
$grey: #788891;
$grey-border: #ebebeb;
$white: #ffffff;
$bg: #e5e5e5;
$bg-footer: #fafafa;
$blue: #00b2ff;
